/* src/App.css */

.app {
  font-family: "Roboto", Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

.main {
  flex: 1;
  position: relative;
}

.location-info {
  font-size: 14px;
  color: #5f6368;
  margin: 10px;
}
